<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sku.sooltudy" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".firstapp.HomeActivity"
            android:label="@string/title_activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".firstapp.StarActivity"
            android:label="@string/title_activity_star" >
        </activity>
        <activity
            android:name=".firstapp.DiaryActivity"
            android:label="@string/title_activity_diary" >
        </activity>
        <activity
            android:name=".firstapp.DiaryListActivity"
            android:label="@string/title_activity_diary_list" >
        </activity>
        <activity
            android:name=".firstapp.ShowDiaryActivity"
            android:label="@string/title_activity_show_diary" >
        </activity>
    </application>

</manifest>
